/*——————————————————————————————————————————————————汽配易购网 Start——————————————————————————————————————————————————*/
/*首页导出*/
#toggleImg,
#clearLocalStorage,
#nameInput,
#usernameInput,
#exportx {
    position: fixed;
    z-index: 10000;
    color: #757575;
    font-size: 16px;
    font-family: "微软雅黑";
}

#toggleImg {
    top: 59px;
    right: 280px;
    height: 43px;
}

#clearLocalStorage {
    top: 110px;
    right: 280px;
    height: 43px;
}

#nameInput {
    top: 59px;
    right: 155px;
    width: 100px;
    height: 37px;
}

#usernameInput {
    right: 20px;
    top: 110px;
    width: 235px;
    height: 37px;
}

#exportx {
    top: 59px;
    right: 20px;
    height: 43px;
    color: #333;
    padding: 10px 20px;
}

#tip1,
#tip2 {
    background-color: red;
    color: white;
    position: relative;
    height: 27px;
    border: 0;
}

#tip1 {
    top: -24px;
    left: -990px;
}

#tip2 {
    top: -12px;
    left: -964px;
}

/*——————————————————————————————————————————————————汽配易购网 End——————————————————————————————————————————————————*/
/*——————————————————————————————————————————————————1688 Start——————————————————————————————————————————————————*/
#modex,
#processing-message {
    width: 100px;
    height: 30px;
    position: fixed;
    right: 50px;
    color: white;
    background-color: #0099ff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}

#modex {
    top: 50px;
}

#processing-message {
    top: 85px;
}

/*——————————————————————————————————————————————————1688 End——————————————————————————————————————————————————*/
/*——————————————————————————————————————————————————draw.io绘图 Start——————————————————————————————————————————————————*/
.mxgraph {
    width: calc(100vw - 2px) !important;
    height: calc(100vh - 27px) !important;
    border: 1px solid transparent;
    position: fixed !important;
    touch-action: none;
    color-scheme: light;
    cursor: pointer;
    overflow: hidden;
    margin-top: 25px !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*——————————————————————————————————————————————————draw.io绘图 End——————————————————————————————————————————————————*/
/* End-110-2025.11.01.113756 */