/*——————————————————————————————————————————————————汽配易购网 Start——————————————————————————————————————————————————*/
.description a,
.main .content a,
.description *[style*="pointer"],
.main .content *[style*="pointer"],
.description img:not([src*="aimg8.dlssyht.cn"]),
.main .content img:not([src*="aimg8.dlssyht.cn"]) {
    color: white !important;
    padding-left: 5px !important;
    background-color: blue !important;
    border-left: 5px solid red !important;
}

.online-kefu {
    top: calc(50% + 100px) !important;
}

#shop-info {
    display: inline-block;
    position: absolute;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    right: 100px;
    color: white !important;
}

#shop-cat,
#shop-cert {
    margin: 9px;
}

#shop-cert a {
    color: white !important;
}

#keywordx {
    color: red;
    display: inline-block;
    margin-top: 10px;
}

#divx {
    position: fixed;
}

#tipx {
    position: absolute;
    color: white;
    height: 51px;
    line-height: 51px;
    background-color: green;
    font-size: 20px;
    width: 700px;
    text-align: center;
    border-radius: 0 4px 0 0;
    display: inline-block;
}

/*——————————————————————————————————————————————————汽配易购网 End——————————————————————————————————————————————————*/
/* End-61-2025.11.19.133631 */